@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

.game{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 2s;
}

body{
    display: flex;
    justify-content: center;
}

.sky{
    position: relative;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(rgb(126, 191, 252), rgb(0, 153, 255));
    display: flex;
    align-items:end;
    justify-content: center;
}

.grass{
    position: relative;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(rgb(20, 153, 31), rgb(0, 92, 23));
    border-top: 5px solid white;;
    display: flex;
    align-items: center;
    justify-content: center;
}


.goal-center{
    position: relative;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goal{
    position: relative;
    width: 800px;
    height: 300px;
    border-left: 10px solid rgb(206, 206, 206);
    border-right: 10px solid rgb(206, 206, 206);
    border-top: 10px solid rgb(206, 206, 206);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ball{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50px;
    position: relative;
    z-index: 5;
    margin-top: 700px;
}

.net{
    position: relative;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

td{
    position: relative;
    border: 2px solid white;
}

.score-board{
    position: absolute;
    width: 300px;
    height: 80px;
    background-image: linear-gradient(#5f1710, #a72b20);
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.score-board h1{
    font-size: 48px;
    background: -webkit-linear-gradient(#313131, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'RocknRoll One', sans-serif;
    margin: 10px;
}

.goalkeeper-center{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}